:host .pristify-action {
  display: block;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 17px;
  border-radius: 5px;
  border: unset;
}
:host .pristify-action:hover{
  background-color: #F3F3F3;
  color: white;
  cursor: pointer;
}

:host .pristify-action.active {
  background-color: #237474e6;
  color: white ;
  fill: white;
  cursor: pointer;
}
